p Новый отклик на позицию «#{@position}»

p Имя: #{@response.first_name} #{@response.last_name}
p Дата рождения: #{localize @response.birth_date}
p Телефон: #{@response.phone}
p Разрешение на работу в РФ: #{@response.birth_date ? "Есть" : "Нет"}

- if @response.info_source.present?
  p Откуда вы узнали о вакансии: #{@response.info_source}
- if @response.covering_letter.present?
  p Короткое сопроводительное письмо:<br>#{simple_format @response.covering_letter}
