- @title = "О нас - "
- @subnav_title = "О нас"

h2#about-us-header О Tutti Frutti
p
  | &laquo;Tutti Frutti Frozen Yogurt&raquo; &ndash; это крупнейшая международная сеть кафе, работающая по модели self-serve. Любовь к замороженным йогуртам с нами разделила почти половина земного шара. Tutti Frutti знают в 45 странах мира – в Америке, Австралии, Бразилии, Великобритании, Вьетнаме, Гонконге, Мексике, Канаде, Китае, Новой Зеландии и многих-многих других. <strong>И вот теперь мы &ndash; в России!</strong>

= image_tag "about-us-map.png", alt: "Карта расположения точек Tutti Frutti"

p Наш замороженный йогурт Tutti Frutti стал мировой сенсацией, и вот почему:
ul.text
  li У нас вы сможете попробовать более 80-ти различных вкусов! И мы никогда не останавливаемся, а продолжаем искать новые и необычные вкусы, которые вам понравятся.
  li К вашему Tutti Frutti вы всегда можете добавить лучшие топинги, многие из которых производятся специально для нас.
  li Мы сами делаем машины для приготовления Tutti Frutti, так как считаем, что только так можем гарантировать неизменно высокое качество нашего продукта.
  li Выбирайте йогурт и топинги, смешивайте вкусы, берите столько, сколько захотите – этот уникальный творческий процесс мы и называем Self-Serve.

= image_tag "about-us-photos.png", alt: "Офис Tutti Frutti"

h2#about-goals-header Наши цели
p Создавать замороженный йогурт премиум-класса из высококачественных натуральных ингредиентов и дарить незабываемые впечатления посетителям наших фирменных кафе.

h2#about-mission-header Наша миссия
p Тutti Frutti Frozen Yogurt создано, чтобы дарить приятные эмоции и яркие впечатления всем посетителям наших уникальных кафе! В этом нам помогают удобная модель self-serve и незабываемый вкус замороженного йогурта высшего класса!
p Ждем вас в Tutti Frutti!
