- @title = "Карта Tutti Frutti - "
- @subnav_title = "Карта Tutti Frutti"

= image_tag "loyalty_card_large.png", style: "margin-left: -65px;"
p.center Для получения карты обратитесь к нашему кассиру, пополните баланс на 500 рублей, и уже с первого заказа получите скидку 5%!