- @title = "Карьера - "
- @subnav_title = "Карьера"
- @subnav = subnav(:career)

h2#career-header Карьера

= image_tag "career.png", alt: "Присоединяйтесь к нам!"

h2#career-search-header Мы ищем:
#career-search-list = subnav(:career)

#career-contact
