p Новая заявка на партнёрство.
p
p Контактное лицо: #{@params[:name]}
p Телефон: #{@params[:phone]}
p E-Mail: #{@params[:email]}
p Город: #{@params[:city]}
p Комментарии: #{simple_format(@params[:comment])}

