- @title = 'БЖУ и Kкал';
- @subnav_title = 'БЖУ и Kкал'
- @subnav = subnav(:tastes)

= image_tag 'foodenergy1.jpg'
= image_tag 'foodenergy2.jpg'
= image_tag 'foodenergy3.jpg'
= image_tag 'foodenergy4.jpg'
