- @title = "Топинги";
- @subnav_title = "Топинги"
- @subnav = subnav(:tastes)

h2#tastes-topings Топинги

p Вы всегда сможете добавить в свой Tutti Frutti шоколад, воздушный рис, спелые ягоды, свежие кусочки фруктов или множество других топингов, некоторые из которых производятся специально для нас!
br
= image_tag "topings.jpg", alt: "Топинги"
