- @title = "Карьера - Экономист - "
- @subnav_title = "Экономист"
- @subnav = subnav(:career)

h2#career-economist-header Экономист

h4 Обязанности:
p Финансово-экономический анализ и планирование сетевой структуры ресторанов (кафе)<br/>
  Составление бюджетов и их консолидация<br/>
  Ведение и контроль текущего бюджета, в том числе ДДС<br/>
  Работа с кредитными договорами российскими и международными для привлечения кредитных ресурсов<br/>
  Составление управленческой отчетности, в том числе ДДС<br/>
  Нормирование и анализ расхода продуктов<br/>
  Анализ закупочных цен<br/>
  Сверка соответствия счетов поступающих к оплате с утвержденным бюджетом<br/>
  Ведение платежного календаря‚ составление оперативной отчетности о предстоящих платежах по юр. лицам<br/>

h4 Требования:

p Высшее профильное образование (экономика‚ финансы)<br/>
  Опыт работы финансовым менеджером‚ экономистом в сетевых ресторанах (кафе) не менее 1,5 лет.<br/>
  Практический опыт и теоретические знания:<br/>
  Порядок привлечения заемных и использования оборотных средств<br/>
  Методы экономического учета и анализа показателей<br/>
  Порядок финансирования капитального строительства, ремонта.<br/>
  Система счетов бухгалтерского учета <br/>
  Составление бюджетов и отчетности<br/>
  Отличное знание Excel‚ 1С‚ клиент-банк<br/>


h4 Условия:

p График работы: 5/2, выходные: суббота, воскресенье.<br/>
  Оформление по ТК РФ;<br/>
  Зарплата обсуждается на собеседовании, белая<br/>
  Месторасположение офиса: метро Смоленская<br/>


p Желательно указать в резюме ожидания по зарплате.

p
/ @Html.ActionLink("Откликнуться на вакансию", "Career", new { Controller = "Feedback", Position = "Economist" })

#career-contact
