- @title = "Карьера - Сотрудник кафе - "
- @subnav_title = "Сотрудник"
- @subnav = subnav(:career)

h2#career-worker-header Сотрудник кафе

h4 Мы ищем:
p Ярких, жизнерадостных юношей и девушек с активной жизненной позицией,
  находчивых, коммуникабельных и любящих общение...
p Которые смогут ловко работать на кассе, заряжать гостей хорошим настроением,
  готовить йогурты и топпинги, а также поддерживать чистоту на рабочем месте.

h4 Мы обеспечим:
p Оформление по ТК РФ; соц. пакет; белую заработную плату; гибкий график
  работы; компенсацию оформления медицинской книжки; частичную компенсацию
  обеда; оплату отпуска и больничного листа; систему поощрений; возможность
  карьерного роста.

p: strong Месторасположение кафе: ТРЦ Рио, пересечение Дмитровского шоссе и МКАД

= render "page/career/response-form"

#career-contact
