@import "bootstrap_and_overrides";

body { color: #6d6e67; }
address { margin: 0 !important; }
input, textarea { width: 350px; }

.container { width: 972px; position: relative; }
.center { text-align: center; }
.justify { text-align: justify; }
.modal-backdrop { background-color: #fff !important; }
ul.text li { margin-bottom: 7px; }
#header { background: image-url("main-header.png") no-repeat; height: 195px; position: relative; margin-bottom: 40px;
  #counter { position: absolute; top: 60px; right: 45px; letter-spacing: 22px; }
  .large-number { font-size: 45px; color: #b2bb1c; font-weight: bold; }
}

#footer { background: image-url("footer.png") no-repeat bottom; min-height: 380px; margin-bottom: 30px;
  ul { list-style: none; position: absolute; bottom: 70px; left: 180px; background: #fff; border-radius: 20px; padding: 0 15px;
    li { list-style: none; float: left; margin: 5px 10px; }
    a { color: #58585a; text-transform: uppercase; font-size: 12px; }
  }

  #address { font-size: 12px; position: absolute; bottom: 15px; width: 100%; line-height: 14px; }
}

#social { position: absolute; top: 183px; left: 111px; }
ul.social { list-style: none; margin: 15px 0 0 10px; display: inline-block;
  li { list-style: none; display: inline-block; width: 150px; height: 25px; vertical-align: middle; }
}

#nav { position: absolute; top: 190px; left: 228px; text-indent: 0; margin: 0; list-style: none;
  li { float: left; list-style: none; margin: 0 10px; }
  a { color: #58585a; text-transform: uppercase; font-size: 14px; }
}

#subnav{
  margin-left: 62px;
  h3.subnav-header { background: image-url("subnav-header.png") no-repeat; font-size: 16px; text-align: center; width: 150px; height: 29px; overflow: hidden; line-height: 29px; color: #fff; font-weight: normal; text-transform: uppercase; }
  ul { margin: 0; list-style: none; color: #58595b;
    li { line-height: 29px; }
    a { color: #58595b; }
    li.group { font-weight: bold; text-transform: uppercase; }
  }
}

#splash-container { margin: 0 0 30px 0; }
#splash { margin: 20px 0; position: relative; height: 620px;
  p { text-indent: -9999px; }
}
#logo { position: relative; width: 660px; height: 320px; top: 10px; left: 170px; overflow: hidden; text-indent: -9999px; z-index: 3;
  #tutti { background: image-url("logo.png") no-repeat; width: 285px; height: 130px; position: absolute; left: -1000px; }
  #frutti { background: image-url("logo.png") no-repeat -300px 0; width: 355px; height: 130px; position: absolute; left: 1315px; }
  #logo-slogan { position: absolute; top: 140px; left: 15px; }
  #logo-slogan-en { background: image-url("logo.png") no-repeat 0 -144px; width: 630px; height: 24px; display: none; }
  #logo-slogan-ru { background: image-url("logo.png") no-repeat 0 -168px; width: 630px; height: 23px; display: none; }
  #dot-1 { background: image-url("logo.png") no-repeat 0 -192px; width: 40px; height: 40px; position: absolute; left: 260px; display: none; }
  #dot-2 { background: image-url("logo.png") no-repeat -40px -192px; width: 40px; height: 40px; position: absolute; left: 615px; display: none; }
}
#tflogo {
  position: absolute;
  width: 168px;
  height: 174px;
  left: 57px;
  top: 0px;
  background: image-url("header-logo.png") no-repeat;
}

#self-serve-preview { background: image-url("self-serve-preview.png") no-repeat; width: 350px; height: 300px; position: absolute; right: 22px; top: 231px; z-index: 3;}
#self-serve-arrow { background: image-url("self-serve-arrow.png") no-repeat; width: 45px; height: 80px; position: absolute; top: 530px; right: 145px; z-index: 4; }
#yoghurt { width: 720px; height: 475px; position: absolute; top: 171px; left: 211px; z-index: 2; }
#vote-for-tastes { position: absolute; width: 190px; height: 177px; top: 260px; left: 50px; z-index: 3; }

#self-serve { position: relative; margin-bottom: 30px; }
#self-serve-header { background: image-url("self-serve-header.png") no-repeat; height: 60px; width: 620px; margin: 30px 0px 20px 200px; text-indent: -9999px; overflow: hidden; }

#tasty-healthy { margin: 0 0 30px 60px; width: 872px;
  .span4 { width: 240px; }
  .span8 { width: 600px; text-align: justify; }
}

#tasty-healthy-header { background: image-url("tasty-healthy-header.png") no-repeat; width: 675px; height: 50px; margin: 25px 0px 20px 120px; overflow: hidden; text-indent: -9999px; }

.tasty-healthy-img { background: image-url("tasty-healthy.png") no-repeat; width: 210px; height: 150px; overflow: hidden; position: absolute;}
.tasty-healthy-img.th1{ margin-top: 60px; }
.tasty-healthy-img.th2{ background-position: 0 -300px; margin: 40px 0 0 25px; }
.tasty-healthy-img.th3{ background-position: 0 -150px; margin: 40px 0 0 0; }
.tasty-healthy-img.th4{ background-position: 0 -450px; margin: 40px 0 0 30px; }

.tasty-healthy-subheader { background: image-url("tasty-healthy-subheaders.png") no-repeat; width: 210px; height: 40px; overflow: hidden; text-indent: -9999px; }
.tasty-healthy-subheader.tsh1 { margin-left: 120px; }
.tasty-healthy-subheader.tsh2 { background-position: 0 -40px; margin-left: 215px; }
.tasty-healthy-subheader.tsh3 { background-position: 0 -80px; margin-left: 195px; }
.tasty-healthy-subheader.tsh4 { background-position: 0 -120px; margin-left: 275px; }

#tasty-healthy-pictos { clear: both; margin: 30px 0 30px 0; }
.tasty-healthy-picto { background: image-url("health-benefits-icons.png") no-repeat; width: 123px; height: 141px; overflow: hidden; float: left; margin-right: 25px; }
.tasty-healthy-picto.p2 { background-position: 0 -141px; }
.tasty-healthy-picto.p3 { background-position: 0 -282px; }
.tasty-healthy-picto.p4 { background-position: 0 -423px; }
.tasty-healthy-picto.p5 { background-position: 0 -564px; }
.tasty-healthy-picto.p6 { background-position: 0 -705px; margin-right: 0; }

#ice-cream-vs-tutti-frutti { margin-left: 20px; }
#addresses { margin: 20px 0 60px 0; 
  .soon { opacity: 0.5; }
  .small-map { width: 300px; height: 200px; border: 1px solid #ccc; box-shadow: 0 0 5px rgba(0,0,0,0.3); }

}
#addresses-header { background: image-url("addresses-header.png") no-repeat; width: 138px; height: 55px; overflow:hidden; text-indent: -9999px; margin-left: 425px; }
.large-map { margin: 30px; text-align: center;
  h3 { color: #000; margin-bottom: 0px; }
  address { color: #000; }
  .map{ border: 1px solid #ccc; padding: 4px; float: left; margin: 15px 0; }
}

.divider { background: image-url("divider.png") no-repeat; height: 35px; margin-left: 57px; }

.carousel.carousel-fade .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

#tastes-header { margin-left: 75px; background: image-url("tastes-header.png") no-repeat; height: 60px; width: 310px; text-indent: -9999px; overflow: hidden; margin-bottom: 30px; }
#tastes-intro { width: 520px; }
#tastes-container {
  margin: 20px 0 20px 7px;
  .taste-preview {
    float: left; margin: 7px 4px 7px 0; border: 3px solid transparent; position: relative;
    img { width: 105px; height: 147px; }
    .vote-count { position: absolute; top: 10px; left: 10px; border-radius: 5px; background-color: #b2bb1c; color: #fff; width: 25px; text-align: center; }
  }
  .taste-preview.voted { border: 3px solid #b2bb1c; border-radius: 3px; }
  .taste-preview a:focus { outline: none; }
}
#taste-modal {
  width: 406px; height: 568px; overflow: visible;
  .btn-like,.btn-dislike { position: absolute; top: 75px; left: 25px; width:108px; height: 28px; background: image-url("tf-like-btn.png") no-repeat; }
  .btn-dislike { background-position: 0 -28px; }
  .modal-body{ height: 568px !important; overflow: visible; padding: 0 !important; }
  .summary { position: absolute; top: 450px; margin-left: 30px;
    label { background: #333; border-radius: 5px; text-transform: uppercase; color: #fff; padding: 2px 10px; display: inline-block; margin: 0; }
    dl { margin: 5px 0 0 -5px; }
    dd, dt { float: left; margin: 0; font-size: 12px; line-height: 16px; white-space: nowrap; overflow: hidden; }
    dt { clear: both; width: 50px; text-align: right; margin-right: 7px; }
  }
  a.btn-close{ position: absolute; background: image-url("btn-close.png"); width: 31px; height: 31px; top: -15px; right: -15px; text-decoration: none; }
}
#taste-modal:focus { outline: none; }
#vote-results{ margin-top: 15px; line-height: 22px; color: #b2bb1c;
  .large-number { font-size: 25px; font-weight: bold; line-height: 32px; }
  .fb-like-container { margin: 0 10px; display: inline-block; vertical-align: middle;}
  .vk-like-container { display: inline-block; width: 180px; height: 22px; vertical-align: middle; }
}

#inner-content { position: relative;
  h2 { margin-bottom: 15px; }
}
#fruits-top12 { background: image-url("fruits-top12.png"); width: 253px; height: 223px; position: absolute; right: 0; top: -15px;}

#about-us-header { margin: 0 0 30px 270px; background: image-url("about-us-header.png") no-repeat; width: 104px; height: 36px; overflow: hidden; text-indent: -9999px; }
#about-goals-header { margin: 0 0 30px 235px; background: image-url("about-goals-header.png") no-repeat; width: 182px; height: 36px; overflow: hidden; text-indent: -9999px; }
#about-mission-header { margin: 30px 0 30px 220px; background: image-url("about-mission-header.png") no-repeat; width: 233px; height: 38px; overflow: hidden; text-indent: -9999px; }

#career-header { margin: 30px 0 0 230px; background: image-url("career-header.png") no-repeat; width: 166px; height: 55px; overflow: hidden; text-indent: -9999px; }
#career-manager-header { margin-left: 125px; background: image-url("careers/manager-header.png") no-repeat; width: 383px; height: 54px; overflow: hidden; text-indent: -9999px; }
#career-worker-header { margin-left: 175px; background: image-url("careers/worker-header.png") no-repeat; width: 318px; height: 64px; overflow: hidden; text-indent: -9999px; }
#career-foreman-header { margin-left: 175px; background: image-url("careers/foreman-header.png") no-repeat; width: 310px; height: 65px; overflow: hidden; text-indent: -9999px; }
#career-search-header { margin-left: 250px; background: image-url("career-search-header.png") no-repeat; width: 93px; height: 26px; overflow: hidden; text-indent: -9999px; }
#career-search-list { font-size: 16px; margin: 0 0 20px 20px; }

#career-contact { background: image-url("career-contacts.png") no-repeat; width: 254px; height: 59px; margin: 30px 0 30px 175px; }

.validation-summary-errors{ color: Red; }

.feedback-form {
  background-color: WhiteSmoke;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  padding: 15px;
  margin-top: 40px;

  h2 { text-align: center; margin: 0; }

  .form {
    margin: 0 auto;
    width: 500px;
    /*abbr { color: #d2002e; border: 0; }*/
    textarea { height: 120px; }

    /*.help-inline { font-size: 12px; margin-top: -3px; }*/
    select.date { width: 100px; }
    label.radio { display: inline-block; margin-right: 15px; }
    input.string, textarea.text { width: 100%; }
    span.hint { color: #888; display: inline-block; margin-right: 1em; }

    input[type=text], input[type=tel], select, textarea { margin: 0; }

    .control-group {
      display: table;
      width: 100%;
      height: 40px;
      margin: 5px 0;
      .controls { display: table-cell; vertical-align: middle; }
    }

    .error {
      .hint { color: $errorText }
    }
  }
}

.vk-button, .fb-button {
  font-size: 12px;
  color: white;
  display: block;
  padding: 4px 14px;
  text-shadow: 0px 1px 0px #45688E;
  margin: 0 10px 0 0;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.vk-button {
  border: 1px solid #3B6798;
  border-top-color: #7E9CBC;
  border-left-color: #7E9CBC;
  background-color: #6D8FB3;

  &:hover {
    background-color: #84a1bf;
  }
}

.fb-button {
  background-color: #5B74A8;
  border: 1px solid #1A356E;
  border-top-color: #29447E;
  border-left-color: #29447E;

  &:hover {
    background-color: #84a1bf;
  }
}

.login-container {
  background: whiteSmoke;
  padding: 15px;
  ul { margin: 0; }
  ul li {
    float: left;
    list-style: none;
  }
}

.fb-login{
  background: #496499 url(fb-login.png) no-repeat -3px 0;
}

.login-error-container {
  padding: 20px;
}
